@import '../variables.scss';





.header{
	background-color: var(--bc-Header);
	padding: 20px 0;
	box-shadow: 0px 15px 15px rgb(42, 41, 41);
	&_container{

	}
	&_content{
		display: flex;
		align-items: center;
		justify-content: space-between;
		
	}
	&_logo{
		padding: 0 10px;
		font-size: 50px;
		animation: circling 2s linear infinite normal 0s none;
	}
	@keyframes circling {
		0%{
			transform: rotate(0deg);
		}
		100%{
			transform: rotate(-360deg);

		}
	}

}


.menu{
	display: flex;
	align-items: center;
	gap:20px;
}
				

._btn{
	padding: 15px 20px;
	font-weight: 800;
	font-size: 24px;
	background-color: var(--btn-main);
	border: none;
	border-radius: 10px;
	color: var(--text-main);
	cursor: pointer;
	box-shadow: -5px 5px 5px rgb(42, 41, 41);
	
}
		
.logIn{
	padding: 15px 20px;
	font-weight: 800;
	font-size: 24px;
	color: var(--text-main);
	cursor: pointer;
}




