.main{
	padding: 50px 10px 0px 10px;
	&-inner {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px; 
		
		gap: 15px;
	}

}
.feed { 
	grid-area: 1 / 1 / 2 / 5;
	
	display: flex;
	flex-direction: column;
	gap:45px;
	@media(max-width: $breakpoint_xl){
		grid-area: 1 / 1 / 2 / 6;
	} 
}
.tags { 
	max-height: 300px;
	grid-area: 1 / 5 / 2 / 6;
	@media(max-width: $breakpoint_xl){
		display: none;
	}
	background-color: var(--bc-Header);
	border-radius: 15px;
} 