._container{
	max-width: 1200px;
	margin: 0 auto;
}
._opacity{
	opacity: 0.85;
	transition: all 0.3s ease 0s;
	&:hover{
		opacity: 1;
	}
	&:active{
		opacity: 0.6;
	}
}

._pointer{
	cursor: pointer;
}

