$breakpoint_xxl: 1200px;
$breakpoint_xl: 1024px;
$breakpoint_md: 767px;
$breakpoint_sm: 576px;
$breakpoint_esm: 390px;

/*       DARK THEME       */
html[data-theme = 'dart']{
	--bc-Main: #2e3440;
	--bc-Header: #3b4252;

	--text-main: #F0F6FC;
	--text-second: #02285e;
	--tags-main:#4d96fd ;
	--btn-main: #238636;
	--btn-delete:red;
	--editor-toolbar:#238637;
}

/*       LIGHT THEME       */
html[data-theme = 'light']{
	--bc-Main: #253a4f;
	--bc-Header: #0077FF;

	--text-main:#ffffff;
	--text-second:  #3b4252;

	--btn-main: rgb(201, 76, 212);
	--btn-delete:red;
	--editor-toolbar:rgb(201, 76, 212);
}

